# Exclude vscode config files
.vscode/
.*

# Exclude .DS_Store files from being added
.DS_Store

# Distribution / packaging
*.egg
*egg-info

# Python cache
__pycache__/

__py**

# Python bytecode
*.pyc

# Checkpoints
*ckpt
ckpts/

# Data
data/td/
*lock

# Pre-commit
!.pre-commit-config.yaml
