horqrux @ git+https://github.com/pasqal-io/horqrux.git@c17ce56aa51b9d40be281cd67d326a2a19f2488b
jax
pyscfad @ git+https://github.com/fishjojo/pyscfad.git@8890c1a77cda8145409a105315f921ccb96fefc6
jax_dft @ git+https://github.com/google-research/google-research.git@d750643452166776aa95907b21cbfa4249acfbfd#subdirectory=jax_dft
jaxlib
loguru
matplotlib
numpy
pyyaml
pyscf
pyscfadlib
pytest
scipy
tqdm
